@use "../../../sass-styles/variables" as *;

.settingItem {
  display: grid;
  //align-items: flex-start;
  justify-content: space-between;
  grid-template-columns: 9fr 1fr;
  row-gap: 3rem;

  &__Info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h4 {
      font-size: 2rem;
    }

    p {
      font-size: 1.6rem;
      align-self: flex-start;
      border-radius: $borderRadius;
      display: inline;
    }

    &__HasUpdated {
      animation: updatedFlickering 2s ease;
    }
  }

  &__Icon {
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.5rem;
    border-radius: 50%;
    overflow: visible;
    border: $border;
    cursor: pointer;
    justify-self: end;

    &:hover {
      border: 0.1rem solid $primaryColor;
      background-color: $primaryColor;

      svg {
        stroke: #fff;
        stroke-width: 0.1rem;
      }
    }
  }

  &__Form {
    grid-column: 1 / -1;
  }
}

@keyframes updatedFlickering {
  0% {
    box-shadow: 0 0 0 0.4rem #fff, 0 0 0 0.8rem $primaryColor;
  }

  50% {
    box-shadow: 0 0 0 0.4rem #fff, 0 0 0 0.8rem $primaryColor;
  }

  100% {
    box-shadow: 0 0 0 0.4rem #fff, 0 0 0 0.8rem transparent;
  }
}
