@use "../../../sass-styles/variables" as *;

.settingItem {
  display: grid;
  //align-items: flex-start;
  justify-content: space-between;
  grid-template-columns: 9fr 1fr;
  row-gap: 3rem;

  &__Info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h4 {
      font-size: 2rem;
    }

    p {
      font-size: 1.6rem;
    }
  }

  &__Icon {
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.5rem;
    border-radius: 50%;
    overflow: visible;
    border: $border;
    cursor: pointer;
    justify-self: end;

    &:hover {
      border: 0.1rem solid $primaryColor;
      background-color: $primaryColor;

      svg {
        stroke: #fff;
      }
    }
  }

  &__Form {
    grid-column: 1 / -1;
  }
}
