@use "../../../../sass-styles/variables" as *;

.priceSummary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.6rem;

  h3 {
    font-size: 2rem;
  }

  &__Items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
