@use "../../../sass-styles/variables" as *;

.guestNum {
  cursor: pointer;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  // justify-content: space-between;
  height: 100%;
  font-size: 1.6rem;
  gap: 0.5rem;
  width: 16rem;

  &__ZeroGuest &__Label {
    grid-column: 1 / -1;
    justify-self: center;
  }

  &__ZeroGuest &__CloseBtn {
    display: none;
  }

  &__Label {
  }

  &__CloseBtn {
    width: 2.4rem;
    height: 2.4rem;
    justify-self: end;
    border-radius: 50%;
    border: none;
    padding: 0.3rem;
    background-color: $grayColorFaint6;
    cursor: pointer;

    &:hover {
      background-color: $grayColorFaint5;
    }
  }
}
