@use "../../../sass-styles/variables" as *;

.guestNum {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.6rem;
  gap: 1.5rem;

  &__Label {
  }

  &__CloseBtn {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    border: none;
    padding: 0.3rem;
    background-color: $grayColorFaint6;
    cursor: pointer;

    &:hover {
      background-color: $grayColorFaint5;
    }
  }
}
