@use "../../../../sass-styles/variables" as *;

.bookingDetail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1200;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 4rem 6rem;
  gap: 3rem;

  @media only screen and (max-width: 46.5em) {
    padding: 4rem 4rem;
  }

  @media only screen and (max-width: 26.5625em) {
    padding: 4rem 2rem;
  }

  &__CloseBtn {
    width: 3.6rem;
    height: 3.6rem;
    padding: 0.4rem;
    border: $border;
    background: #fff;
    border-radius: 50%;
    justify-self: start;
  }
}
