@use "../../sass-styles/variables" as *;

.about {
  display: flex;
  flex-direction: column;
  &__Hero {
    width: 100%;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__Intro {
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 4rem 28vw;
    gap: 3rem;
    &__Heading {
      font-size: 4.6rem;
      font-weight: 700;
    }

    &__Content {
      font-size: 1.6rem;
    }
  }

  &__Facts {
    background-color: $grayColorFaint6;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    height: 100vh;
    padding: 6rem 8rem;
    align-items: center;
    justify-content: center;

    &__Heading {
      font-size: 4.6rem;
      font-weight: 700;
    }

    &__Items {
      display: grid;
      max-height: 100%;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr;
      gap: 4rem;

      @media only screen and (max-width: 75em) {
        gap: 2rem;
      }

      @media only screen and (max-width: 59em) {
        gap: 1rem;
      }

      @media only screen and (max-width: 48em) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__Founders {
    display: flex;
    flex-direction: column;
    padding: 6rem 8rem;
    gap: 3rem;
    min-height: 100vh;
    justify-content: center;

    &__Heading {
      font-size: 4.6rem;
      font-weight: 700;
      align-self: center;
    }

    &__List {
      display: grid;
      grid-auto-columns: 30%;
      grid-auto-flow: column;
      gap: 5rem;
      justify-content: center;

      @media only screen and (max-width: 48em) {
        grid-auto-columns: 40%;
        gap: 3rem;
      }

      @media only screen and (max-width: 37.5em) {
        grid-auto-columns: 60%;
      }
    }
  }
}
