#checkout-datepicker .ant-picker {
  &-dropdown {
    position: static !important;
    top: 0 !important;
    left: 0 !important;
    //animation: none !important;
    opacity: 1;
    transform: scale(1) !important;
  }

  // &-panel-container {
  //   box-shadow: none !important;
  // }

  // &-range-arrow {
  //   display: none;
  // }
}
