@use "../../../../../sass-styles/variables" as *;

.dateModal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1300;
  background-color: #fff;
  border-radius: $borderRadius;
  transform: translate(-50%, -50%);
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: $border;
  gap: 1.5rem;

  &__CloseBtn {
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    background: none;
    border-radius: 50%;
    padding: 0.4rem;
    align-self: flex-end;
    cursor: pointer;

    &:hover {
      background-color: $grayColorFaint6;
    }
  }
}
