.staysListing {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 36rem;
  gap: 6rem 2.5rem;
  padding: 2rem 4rem;
}

.buffer {
  height: 8rem;
}

.endMessage {
  font-weight: 700;
  margin: auto;
  text-align: center;
  font-size: 1.6rem;
}
