@use "../../../sass-styles/variables" as *;

.filterBtn {
  //width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: none;
  background: none;
  border-radius: 1rem;
  border: $border;
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: $boxShadow;
  transform: translateY(-0.1rem);

  &:hover {
  }

  &:active {
    box-shadow: none;
    transform: translateY(0);
  }

  svg {
    width: 2.4rem;
  }

  &__NoText {
    padding: 1rem;
    border-radius: 50rem;
  }
}
