@use "../../../sass-styles/variables" as *;

.imageUpload {
  background-color: $grayColorMain;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  margin-left: 2rem;
  display: block;

  position: relative;

  &__Placeholder {
    width: 100%;
    height: 100%;

    img {
      overflow: hidden;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__EditIcon {
    width: 2.8rem;
    height: 2.8rem;
    padding: 0.5rem;
    position: absolute;
    background-color: $primaryColor;
    border-radius: 50%;
    overflow: visible;
    border: none;
    right: -5%;
    top: -5%;
    cursor: pointer;

    svg {
      stroke: #fff;
    }

    &:hover {
      background-color: $shadeColor1;
    }
  }
}
