@use "../../../sass-styles/variables" as *;

.profile__Settings {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__Heading {
    font-size: 2.8rem;
  }

  &__Item {
    padding: 2rem;
    border-bottom: 0.1rem solid $grayColorFaint5;

    @media only screen and (max-width: 46.5em) {
      padding: 2rem 0;
    }
  }
}
