@use "../../../../sass-styles/variables" as *;

.tripDate {
  display: flex;
  font-weight: 700;
  align-items: center;

  &--Smaller {
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1.6rem;
    background-color: $grayColorFaint6;
    padding: 1rem 2rem;

    border-radius: 3rem 3rem 0 0;
    color: $grayColorMain;
  }

  &--Larger {
    flex-direction: column;
    font-size: 2.4rem;
  }

  &--Larger &__Day {
    font-size: 3.6rem;
    color: $grayColorFaint3;
  }

  &__Month {
  }

  &__Year {
  }
}
