@use "../../../../../sass-styles/variables" as *;

.imageSkeleton {
  width: 100%;
  height: 100%;
  border-radius: $borderRadius;
  background-color: $grayColorFaint6;
  position: absolute;
  animation: skeletonFlashing 1s infinite alternate;
}

@keyframes skeletonFlashing {
  0% {
    background-color: $grayColorFaint5;
  }

  100% {
    background-color: $grayColorFaint6;
  }
}
