@use "../../../../sass-styles/variables" as *;

.filterItem {
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 4rem;
  height: 100%;
  gap: 1rem;
  transition: all 0.15s;
  max-height: 100%;
  //width: fit-content;
  cursor: pointer;

  @media only screen and (max-width: 49.5em) {
    padding: 1.5rem 2.5rem;
  }

  @media only screen and (max-width: 34.5em) {
    padding: 1.5rem;
  }

  &__Img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &:hover {
    box-shadow: inset 0 -0.3rem 0 0 $grayColorFaint5;

    img {
      filter: opacity(90%);
    }

    span {
      opacity: 100%;
    }
  }

  &:focus {
    outline: none;
  }

  &__Img {
  }

  img {
    max-height: 2rem;
    width: auto;
    filter: opacity(70%);
    display: block;
  }

  span {
    font-size: 1.4rem;
    opacity: 80%;
  }

  &__Selected {
    box-shadow: inset 0 -0.3rem 0 0 $tintColor4;
    background-color: $tintColor1;

    &:hover {
      box-shadow: inset 0 -0.3rem 0 0 $tintColor4;
      background-color: $tintColor1;
    }
    img {
      filter: opacity(100%);
    }

    span {
      opacity: 100%;
    }
  }
}
