@use "../../sass-styles/variables" as *;

.readme {
  z-index: 1500;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 80%;
  transform: translate(-50%, -50%);
  //padding: 2.5rem 0;
  border-radius: $borderRadius;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  //gap: 2rem;

  @media only screen and (max-width: 59em) {
    min-width: 65%;
  }

  @media only screen and (max-width: 48em) {
    min-width: 76%;
  }

  @media only screen and (max-width: 34em) {
    min-width: 84%;
  }

  @media only screen and (max-width: 26.5625em) {
    width: 100%;
    top: auto;
    bottom: -45%;
    min-height: 90%;
    &__Heading {
      font-size: 2rem;
    }
  }

  &__CloseIcon {
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s;
    top: 2rem;
    left: 2rem;

    svg {
      padding: 0.4rem;
    }

    &:hover {
      background-color: $primaryColor;

      svg {
        stroke: #fff;
      }
    }
  }

  &__WavingIcon {
    align-self: center;
    //padding-bottom: 0.4rem;
    font-size: 2.4rem;
    display: inline-block;
    padding-top: 2rem;
    //animation: wavingEffect alternate 0.4s infinite both linear;

    // svg {
    //   stroke: $primaryColor;
    //   width: 100%;
    //   height: 100%;
    // }
  }

  &__Heading {
    text-align: center;
    padding: 1rem 4rem 2rem 4rem;
  }

  &__Content {
    padding: 1.5rem 0;
    text-align: justify;
    line-height: 2.4rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0 4rem;

    ul {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      li {
        &::marker {
          color: $primaryColor;
        }
      }
    }
  }

  &__Link {
    &:link,
    &:visited {
      color: $primaryColor;
    }

    &:hover,
    &:active {
      color: $shadeColor1;
    }
  }

  &__CV {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: $border;

    a {
      background-color: $primaryColor;
      border-radius: $borderRadius;
      padding: 1rem 2rem;
      position: relative;
      display: inline-block;

      &:link,
      &:visited {
        color: #fff;
      }

      &:hover,
      &:active {
        color: #fff;
      }

      &::after {
        content: "👈";
        font-size: 3.2rem;
        position: absolute;
        font-size: 2rem;
        animation: pointingFromRight alternate 0.3s infinite both linear;
        right: -2rem;
      }
    }
    // &::before {
    //   content: "👆";
    //   position: absolute;
    //   bottom: -105%;
    //   left: 30%;
    //   font-size: 2rem;
    //   animation: pointingFromBottom alternate 0.3s infinite both linear;
    // }
  }
}

@keyframes wavingEffect {
  0% {
    transform: rotate(35deg);
  }

  // 50% {
  //   transform: rotate(0deg);
  // }

  100% {
    transform: rotate(-18deg);
  }
}

@keyframes pointingFromRight {
  0% {
    transform: translateX(-0.3rem);
  }

  100% {
    transform: translateX(0.3rem);
  }
}

@keyframes pointingFromBottom {
  0% {
    transform: translateY(-0.3rem);
  }

  100% {
    transform: translateY(0.3rem);
  }
}
