@use "../../../../sass-styles/variables" as *;

.guestTypeInput {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__Text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    p {
      display: block;
    }
  }

  &__Actions {
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr;
    align-items: center;
    justify-items: center;

    gap: 1rem;

    button {
      width: 3rem;
      height: 3rem;

      border: $border;
      border-radius: 50%;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        border: 0.1rem solid $grayColorFaint1;
      }
      svg {
        padding: 0.5rem;
      }
    }

    &__Disable {
      cursor: not-allowed !important;
      &:hover {
        border: 0.1rem solid #ddd !important;
      }
    }
  }
}
