@use "../../../sass-styles/variables" as *;

.imagesPreview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 20rem;
  gap: 1.2rem;

  //overflow: hidden;
  position: relative;

  &__Img--Main {
    grid-column: span 2;
    grid-row: span 2;
  }

  &__Img--Small {
  }

  &__Img--Main,
  &__Img--Small {
    border-radius: $borderRadius;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 0 0.5rem $primaryColor;
    }
  }

  &__ShowBtn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border: 0.1rem solid $grayColorMain;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    cursor: pointer;

    &:hover {
      background-color: $grayColorFaint6;
    }

    svg {
      height: 2.4rem;
      width: 2.4rem;
    }

    span {
      font-weight: 700;
    }

    &:active {
      transform: scale(0.99);
    }
  }
}
