@use "../../sass-styles/variables" as *;

.btn {
  padding: 1.5rem 3rem;
  border: none;
  border-radius: $borderRadius;
  background-color: $primaryColor;
  color: #fff;
  font-weight: 700;
  align-self: flex-start;
  cursor: pointer;
  //   height: 100%;
  //   width: 100%;

  &:hover {
    background-color: $shadeColor1;
  }

  &__Disabled {
    background-color: $grayColorFaint5 !important;
    cursor: not-allowed !important;
    &:hover {
      background-color: $grayColorFaint5 !important;
    }
  }
}
