@use "../../../../../sass-styles/variables" as *;

.modalTabs {
  font-size: 1.6rem;
  justify-self: end;
  position: relative;

  ul {
    list-style: none;
    display: flex;
    gap: 4rem;

    @media only screen and (max-width: 59em) {
      gap: 3rem;
    }

    @media only screen and (max-width: 46.5em) {
      gap: 2.5rem;
    }

    li {
      display: block;
    }
  }

  &__Tab {
    padding: 1rem 0;
    transition: all 0.3s;
    border: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0.4rem 0 -0.1rem $grayColorMain;
    }

    &--Active {
      color: $primaryColor;
      box-shadow: 0 0.4rem 0 -0.1rem $primaryColor;
      &:hover {
        box-shadow: 0 0.4rem 0 -0.1rem $primaryColor;
      }
    }

    &--Cancel {
      color: $warningColor7;
      font-weight: 700;

      &:hover {
        box-shadow: 0 0.4rem 0 -0.1rem $warningColor7;
      }
    }

    &--Cancel#{&}--Active {
      box-shadow: 0 0.4rem 0 -0.1rem $warningColor7;
      &:hover {
        box-shadow: 0 0.4rem 0 -0.1rem $warningColor7;
      }
    }
  }

  &__MoreBtn {
    width: 3.2rem;
    height: 3.2rem;
    background: none;
    border: none;
  }

  &--Smaller ul {
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    background-color: #fff;
    border: $border;
    border-radius: $borderRadius;
    padding: 1rem 0;
    right: -1rem;
    z-index: 1500;
  }

  &--Smaller &__Tab {
    padding: 1rem 3rem;

    &:hover {
      box-shadow: none;
    }

    &--Active {
      color: $primaryColor;
      box-shadow: none;
      background: $tintColor1;
      &:hover {
        box-shadow: none;
        background: $tintColor1;
      }
    }

    &--Cancel {
      color: $warningColor7;
      box-shadow: none;

      &:hover {
        box-shadow: none;
        background: $warningColor1;
      }
    }
  }
}
