@use "../../../../../sass-styles/variables" as *;

.location {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__Input {
    width: 100%;
    border: none;
    border-radius: $borderRadius;
    background-color: $grayColorFaint6;

    display: flex;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;

    input {
      background: none;
      border: none;
      width: 100%;
      //padding: 2rem;
      &:focus {
        outline: none;
      }
    }

    svg {
      min-width: 2.4rem;
      height: 2.4rem;
      stroke-width: 0.4rem;
    }
  }

  &__Dropdown {
  }
}
