@use "../../../sass-styles/variables" as *;

.mainLogo {
  display: flex;
  align-items: center;
  // justify-content: center;
  gap: 1rem;
  text-decoration: none;

  &:link,
  &:visited,
  &:focus,
  &:active {
    color: #fff;
  }

  &__Text {
    color: $primaryColor;
    font-size: 2.2rem;
    letter-spacing: -0.1rem;
  }

  &--White {
    h2 {
      color: #fff !important;
    }

    svg {
      circle {
        fill: #fff;
      }

      path {
        stroke: $primaryColor;
      }
    }
  }
}
