@use "../../../sass-styles/variables" as *;

$profileImageWidth: 3.2rem;

.profileBtn {
  display: flex;
  align-items: center;
  border-radius: 50rem;
  gap: 0.5rem;
  background: none;
  border: $border;
  cursor: pointer;
  justify-content: space-between;
  padding: 0 calc($profileImageWidth * 0.125);
  transition: all 0.3s;

  &:hover {
    box-shadow: $boxShadow;
    transform: translateY(-0.1rem);
  }

  &:active {
    box-shadow: none;
    transform: translateY(0);
  }

  &__Container {
    position: relative;
  }

  &__Hamburger {
    height: calc($profileImageWidth * 1.2);
    width: calc($profileImageWidth * 1.2);
    stroke: $grayColorMain;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc($profileImageWidth * 0.25);

    svg {
      stroke: $grayColorMain;
    }
  }

  &__Image {
    height: $profileImageWidth;
    width: $profileImageWidth;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
