@use "../../../sass-styles/variables" as *;

.settingBtn {
  padding: 1.5rem 3rem;
  border: none;
  border-radius: $borderRadius;
  background-color: $primaryColor;
  color: #fff;
  font-weight: 700;
  align-self: flex-start;
  cursor: pointer;

  &:hover {
    background-color: $shadeColor1;
  }
}
