@use "../../../../sass-styles/variables" as *;

.accountDelete {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__Container {
    h4 {
      color: $warningColor6;
    }
  }

  &__Input {
    input {
      font-weight: 700;
      color: $warningColor6;
    }
  }

  &__Btn {
    background-color: $warningColor6;

    &:hover {
      background-color: $warningColor7;
    }
  }
}
