//Primary theme color
$primaryColor: #00b4d8;

//Tint color
$tintColor1: #caf0f8;
$tintColor2: #ade8f4;
$tintColor3: #90e0ef;
$tintColor4: #48cae4;

//Shade color
$shadeColor1: #0096c7;
$shadeColor2: #0077b6;
$shadeColor3: #023e8a;
$shadeColor4: #03045e;

//Secondary color yellow
$secondaryColorYellowPrimary: #ffea00;
$secondaryColorYellowShader1: #ffdd00;
$secondaryColorYellowShader2: #ffd000;
$secondaryColorYellowShader3: #ffc300;
$secondaryColorYellowShader4: #ffb700;
$secondaryColorYellowShader5: #ffaa00;

$secondaryColorYellowTint1: #ffee99;

//Successfull color green
$successColor1: #ebfbee;
$successColor2: #d3f9d8;
$successColor3: #b2f2bb;
$successColor4: #8ce99a;
$successColor5: #69db7c;
$successColor6: #51cf66;
$successColor7: #40c057;
$successColor8: #37b24d;

//warning color
$warningColor1: #ffe3e3;
$warningColor2: #ffc9c9;
$warningColor3: #ffa8a8;
$warningColor4: #ff8787;
$warningColor5: #ff6b6b;
$warningColor6: #fa5252;
$warningColor7: #f03e3e;
$warningColor8: #e03131;

//Gray/Black color
$grayColorMain: #333;
$grayColorFaint1: #555;
$grayColorFaint2: #777;
$grayColorFaint3: #999;
$grayColorFaint4: #bbb;
$grayColorFaint5: #ddd;
$grayColorFaint6: #eee;
$grayColorFaint7: #f7f7f7;
$grayColorShade1: #222;

//Border
$border: 0.1rem solid $grayColorFaint5;
$borderRadius: 1rem;

//box shadow
$boxShadow: 0 0.1rem 0.3rem rgba(3, 3, 3, 0.1);

@mixin card($paddingHorizontal: 2rem, $paddingVertical: 4rem) {
  padding: $paddingHorizontal $paddingVertical;
  border: $border;
  border-radius: $borderRadius;
  background-color: #fff;
}

@mixin modal($paddingHorizontal: 2rem, $paddingVertical: 4rem, $zIndex: 2000) {
  @include card($paddingHorizontal: 2rem, $paddingVertical: 4rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: $zIndex;
}

//keyframes

@keyframes slideUp {
  0% {
    transform: translateY(80%);
    opacity: 0.2;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(80%);
    opacity: 0.2;
  }
}

@mixin slideUp {
  animation: slideUp ease 0.3s backwards;
}

@mixin slideDown {
  animation: slideDown ease 0.3s forwards;
}
