@use "../../../sass-styles/variables" as *;

.roomMain {
  width: 100%;
  display: grid;
  gap: 8rem;
  //padding: 2rem 0 6rem;

  &__SmallerScreen {
    grid-template-columns: 1fr;
  }

  &__LargerScreen {
    grid-template-columns: 62% 1fr;
  }

  &__Info {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}
