@use "../../../../sass-styles/variables" as *;

.bookingDate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;

  &__EditIcon {
    position: absolute;
    top: -1rem;
    right: 0;
  }
}
