@use "../../sass-styles/variables" as *;

.topNav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  gap: 1.5rem;
  border-bottom: $border;
  background-color: #fff;
  z-index: 1000;

  &__Logo {
    text-decoration: none;
  }

  &__ProfileBtn {
    position: relative;
  }

  &__SearchBar {
    //align-self: center;
  }

  @media only screen and (max-width: 46.5em) {
    &__Logo {
      display: none;
    }
    &__ProfileBtn {
      display: none;
    }
    &__SearchBar {
      flex: 1;
    }
  }
}
