@use "../../sass-styles/variables" as *;

.trips {
  padding: 6em 20rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @media only screen and (max-width: 64em) {
    padding: 6em 12rem;
  }

  @media only screen and (max-width: 59em) {
    padding: 6em 8rem;
  }

  @media only screen and (max-width: 46.5em) {
    padding: 4em;
  }

  @media only screen and (max-width: 37.5em) {
    padding: 6em 4rem;
  }

  @media only screen and (max-width: 26.5625em) {
    padding: 6em 4rem;
  }

  &__Heading {
    font-size: 3.2rem;
  }

  &__Loading {
    width: 4rem;
    height: 4rem;
    align-self: center;
  }

  &__NoTrip {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;

    h2 {
      font-size: 2rem;
    }

    button {
      border: none;
      background-color: $primaryColor;
      padding: 1.5rem 3rem;
      color: #fff;
      border-radius: $borderRadius;
      font-weight: 700;
    }
  }

  &__TripList {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
}
