@use "../../../sass-styles/variables" as *;

.profileNav {
  display: flex;
  flex-direction: column;
  border: $border;
  border-radius: $borderRadius;

  &__Btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 4rem;
    cursor: pointer;

    &:hover {
      background-color: $grayColorFaint7;
    }

    svg {
      width: 2.8rem;
      height: 2.8rem;
      padding: 0.5rem;
      border-radius: 50%;
      stroke: $primaryColor;
      background-color: $tintColor1;
    }
  }
}
