@use "../../../sass-styles/variables" as *;

.profileNav {
  display: flex;
  border: $border;
  border-radius: $borderRadius;
  overflow: hidden;
  position: relative;

  &__Btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    cursor: pointer;
    overflow: hidden;

    &--Active {
      background-color: $grayColorFaint7;
    }

    &:hover {
      background-color: $grayColorFaint7;
    }
  }

  &__Icon {
    min-width: 2.8rem;
    height: 2.8rem;
    padding: 0.5rem;
    border-radius: 50%;

    background-color: $tintColor1;
    svg {
      stroke: $primaryColor;
      width: 100%;
      height: 100%;
    }
  }

  &--Smaller {
    flex-direction: row;
    align-self: center !important;
  }

  &--Smaller &__Btn {
    padding: 0.5rem 2rem;
  }

  &--Larger {
    flex-direction: column;
  }

  &--Larger &__Btn {
    padding: 2rem 4rem;
  }
}
