@use "../../../../sass-styles/variables" as *;

.loginDropdown {
  position: absolute;
  width: 250%;
  background-color: #fff;
  border: $border;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-size: 1.6rem;
  box-shadow: $boxShadow;
  right: 0;
  bottom: -10%;
  transform: translate(0, 100%);

  &__Option,
  &__Logout {
    padding: 1.5rem 3rem;
    cursor: pointer;
    text-decoration: none;

    &:link,
    &:visited {
      color: inherit;
    }
  }

  &__Option {
    &:hover,
    &:active {
      background-color: $tintColor1;
      color: $primaryColor;
    }
  }

  &__Logout {
    border: none;
    background: none;
    text-align: left;
    &:hover,
    &:active {
      background-color: $warningColor1;
      color: $warningColor7;
    }
  }
}
