@use "../../../../sass-styles/variables" as *;

.rateSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  &__Items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__Total {
    border-top: $border;
    padding-top: 1.5rem;
    display: flex;
    font-weight: 700;
    font-size: 2rem;
    justify-content: space-between;
  }
}
