@use "../../../../sass-styles/variables" as *;

.searchBar {
  display: flex;
  border: $border;
  box-shadow: $boxShadow;
  border-radius: 50rem;
  align-items: center;
  width: 100%;
  &__Icon {
    padding: 2rem;
    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__Main {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__Place {
      font-weight: 700;
      font-size: 1.8rem;
    }

    &__DateGuests {
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
      color: $grayColorFaint3;
    }
  }

  &__Search {
    display: flex;
    align-items: center;
  }

  &__FilterBtn {
    margin-left: auto;
    padding: 1rem;
  }
}
