@use "../../../../sass-styles/variables" as *;

.searchDropdown {
  width: 100%;
  background-color: #fff;

  border-radius: 1.6rem;

  list-style: none;
  display: flex;
  flex-direction: column;

  &__Absolute {
    position: absolute;
    bottom: -30%;
    transform: translate(-10%, 100%);
    border: $border;
    box-shadow: $boxShadow;
    padding: 2rem 0;
  }

  &__Static {
  }
}
