@use "../../../../sass-styles/variables" as *;

.datePicker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 1500;
  background-color: #fff;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 15% 1fr;
  //flex-direction: column;
  padding: 0 0 2rem;
  height: 80%;

  border-radius: $borderRadius;

  &__Head {
    padding: 0 4rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__CloseBtn {
      width: 3.2rem;
      height: 3.2rem;
      padding: 0.4rem;
      border-radius: 50%;
      background: none;
      border: $border;
      position: absolute;
      right: 3rem;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &__Body {
    height: 100%;
    overflow-y: scroll;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
