@use "../../../../sass-styles/variables" as *;

.stayItem {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 70% 1fr;
  row-gap: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  border-radius: $borderRadius;

  &:link,
  &:visited {
    color: inherit;
  }

  &:hover {
    transform: translate(0, -0.1rem);
    box-shadow: 0 0 0 0.5rem #fff, 0 0 0 0.7rem $primaryColor;
  }

  &__Info {
  }

  &__Image {
    height: 100%;
    img {
      display: block;
    }
  }
}
