@use "../../../sass-styles/variables" as *;

.guestNumberDropdown {
  background-color: #fff;
  border-radius: 1.6rem;
  display: grid;
  grid-template-columns: max-content 4fr;
  font-size: 1.6rem;
  gap: 3.5rem;
  cursor: default;
}
