@use "../../../sass-styles/variables" as *;

.guestNumberDropdown {
  background-color: #fff;
  border-radius: 1.6rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  font-size: 1.6rem;
  gap: 3.5rem;
  //width: 100%;
  cursor: default;

  &__OkBtn {
    padding: 1rem 2rem;
    background: none;
    background-color: $primaryColor;
    border-radius: $borderRadius;
    color: #fff;
    border: none;
    align-self: flex-end;
    grid-column: span 2;
    align-self: flex-end;
    cursor: pointer;

    &:hover {
      background-color: $shadeColor1;
    }
  }

  &__Input {
  }
}
