@use "../../../sass-styles/variables" as *;

.stayItem {
  display: grid;
  grid-template-rows: 70% 1fr;
  row-gap: 1rem;
  cursor: pointer;
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }

  &__Image {
    height: 100%;
  }
}
