@use "../../../sass-styles/variables" as *;

.skeletonFilterSlider {
  overflow: hidden;
  display: grid;
  width: 100%;
  overflow: hidden;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}
