@use "../../../sass-styles/variables" as *;

.loginButton {
  width: 100%;
  border: none;
  background: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $grayColorMain;
  }

  &:hover {
    text-decoration: underline;
  }
}
