@use "../../../sass-styles/variables";

.loginButton {
  width: 100%;
  border: none;
  background: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}
