@use "../../../sass-styles/variables" as *;

.roomTypes {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__ScrollContainer {
    width: 100%;
    padding: 0.5rem 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    place-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    @media only screen and (max-width: 46.5em) {
      grid-auto-columns: 100%;
    }
  }

  &__Nav {
    display: flex;
    gap: 1rem;
    align-self: end;
  }

  &__Heading {
    font-size: 2.2rem;
  }

  &__Type {
    width: 90% !important;
    scroll-snap-align: center;
  }

  &__BtnLeft,
  &__BtnRight {
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.5rem;
    border: 0.1rem solid $grayColorFaint1;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 1;
    visibility: visible;
    z-index: 1;

    &:hover {
      box-shadow: $boxShadow;
      transform: translateY(-0.1rem);
    }

    &:active {
      transform: translateY(0);
      box-shadow: none;
    }
  }

  &__BtnLeft {
    left: 0rem;
  }

  &__BtnRight {
    right: 0rem;
  }

  &__BtnHidden {
    opacity: 0;
    visibility: hidden;
  }
}
