@use "../../sass-styles/variables" as *;

.checkout {
  display: grid;
  padding: 4rem 8rem;
  gap: 2rem;

  @media only screen and (max-width: 46.5em) {
    padding: 2rem 4rem;
  }

  @media only screen and (max-width: 26.5625em) {
    padding: 2rem 2rem;
  }

  &--SmallerScreen {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  &--SmallerScreen &__Details {
    grid-column: 1 / -1;
  }

  &--LargerScreen {
    grid-template-columns: 2fr 3fr;
    // /grid-auto-flow: column;
  }

  &__Btn {
    grid-column: 2;
    justify-self: end;
  }
}
