@use "../../../sass-styles/variables" as *;

.login {
  display: grid;
  width: 100%;
  gap: 1.5rem;

  &__Actions {
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
