.header {
  visibility: 0;
  opacity: 1;
  height: auto;

  &__Hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  &__Buffer {
    height: 100%;
  }

  &__Main {
    top: 0;
    width: 100%;
    z-index: 500;
  }

  &__Fixed {
    position: fixed;
  }

  &__Absolute {
    position: absolute;
  }
}
