@use "../../sass-styles/variables" as *;

.header {
  visibility: 0;
  opacity: 1;
  height: auto;

  &--Hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  &__Buffer {
    height: 100%;
  }

  &__Main {
    top: 0;
    width: 100%;
    z-index: 500;
  }

  &--Fixed {
    position: fixed;
  }

  &--Absolute {
    position: absolute;
  }
}
