@use "../../../../sass-styles/variables" as *;

.requestForm {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: $border;
  border-radius: $borderRadius;
  font-size: 1.6rem;

  @media only screen and (max-width: 46.5em) {
    padding: 1rem 2rem;
  }

  &__Heading {
    font-size: 2rem;
  }

  &__Description {
    font-style: italic;
  }

  &__Form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    label {
      font-weight: 700;
    }

    textarea {
      border: $border;
      border-radius: $borderRadius;
      padding: 1.5rem 2rem;
      resize: none;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 0.3rem $tintColor1;
        border: 0.1rem solid $tintColor1;
      }
    }
  }
}
