@use "../../sass-styles/variables" as *;

.bottomNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: $border;
  font-size: 1.6rem;
  background-color: #fff;
  transition: all 0.2s;

  &__Up {
    transform: translateY(0%);
  }

  &__Down {
    transform: translateY(100%);
  }

  &__Transparent {
    background-color: transparent;
    color: #fff;
    border-top: none;
  }

  &__Resources {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    cursor: pointer;

    &:hover {
      span {
        text-decoration: underline;
      }
    }

    svg {
      height: 1.6rem;
      stroke-width: 0.3rem;
    }
  }
}
