@use "../../../../sass-styles/variables" as *;

.searchBar {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $grayColorFaint7;
  top: 0;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__Collapse {
    display: none;
  }

  &__Head {
    display: flex;
    background-color: $grayColorFaint7;
    padding: 2rem 4rem;
    position: relative;

    svg {
      min-width: 3.6rem;
      height: 3.6rem;
      position: absolute;
      border: $border;
      border-radius: 50%;
      padding: 0.4rem;
    }

    h2 {
      margin: 0 auto;
    }
  }

  &__Foot {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    border-top: $border;

    &__ClearBtn,
    &__SearchBtn {
      border: none;
      background: none;
      font-weight: 700;
    }

    &__ClearBtn {
      text-decoration: underline;
    }

    &__SearchBtn {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      justify-content: space-between;
      padding: 1.4rem 3rem;
      background-color: $primaryColor;
      border-radius: $borderRadius;
      color: #fff;

      svg {
        min-width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  &__Main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 4rem;
    overflow: scroll;
  }

  &__Field {
    background-color: #fff;
    padding: 2rem 4rem;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;

    &__Inactive {
      display: flex;
      justify-content: space-between;
    }

    &__Label {
      color: $grayColorFaint3;
    }

    &__Info {
      font-weight: 700;
    }
  }
}
