@use "../../../../sass-styles/variables" as *;

.itemModal {
  height: 95%;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1800;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: $borderRadius $borderRadius 0 0;
  display: grid;
  grid-template-columns: 2.3fr 3fr;
  grid-template-rows: 1fr 90%;
  gap: 1.5rem 6rem;
  padding: 3rem 6rem;
  align-items: center;

  @media only screen and (max-width: 59em) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 3rem;
    padding: 2.5rem 4rem;
  }

  @media only screen and (max-width: 46.5em) {
    padding: 2.5rem;
  }

  &__CloseBtn {
    width: 3.2rem;
    border-radius: 50%;
    height: 3.2rem;
    padding: 0.3rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    // position: absolute;
    // top: 3.2rem;
    // left: 3.2rem;
    &:hover {
      background-color: $grayColorFaint6;
    }
  }

  &__Tabs {
    grid-column: 2;
    place-self: center;
  }

  &__Price {
    grid-column: 1;
    grid-row: 2;
    align-self: flex-start;
  }

  &--Smaller &__Tabs {
    //grid-column: 1 / -1;
    grid-row: 1;
  }

  &__Info {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
  }

  &--Smaller &__Info {
    grid-column: 1 / -1;
  }

  &--Larger {
  }
}
