@use "../../../../sass-styles/variables" as *;

.itemModal {
  height: 95%;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1800;
  bottom: 0;
  border-radius: $borderRadius $borderRadius 0 0;
  display: grid;
  grid-template-columns: 2.3fr 3fr;
  grid-template-rows: 1fr 90%;
  gap: 1.5rem 6rem;
  padding: 3rem 6rem;

  &__Tabs {
    grid-column: 2;
    place-self: center;
  }

  &__Price {
    grid-column: 1;
    grid-row: 2;
    align-self: flex-start;
  }

  &__Info {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
  }
}
