@use "../../../sass-styles/variables" as *;

.settingInput {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border: $border;
  border-radius: $borderRadius;
  padding: 0.75rem 1.5rem;

  span {
    color: $grayColorFaint4;
    font-size: 1.2rem;
  }

  input {
    background: none;
    border: none;
    font-size: 1.6rem;

    &:focus {
      outline: none;
    }
  }
}
