@use "../../sass-styles/variables" as *;

.staticFooter {
  border-top: $border;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 8rem 12rem 5rem 12rem;
  background-color: $grayColorFaint7;
  width: 100%;
  height: auto;

  &__Copyright {
    font-size: 1.6rem;
  }
}
