@use "../../../sass-styles/variables" as *;

.aboutRoom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.6rem;

  h2 {
    font-size: 2.4rem;
  }

  button {
    border: none;
    background: none;
    text-decoration: underline;
    align-self: flex-start;
    cursor: pointer;
    font-weight: 700;
  }
}
