@use "../../sass-styles/variables" as *;

.afterSubmit {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border: none;
  width: auto;
  flex-direction: column;
  z-index: 1500;
  background-color: #fff;
  border-radius: $borderRadius;
  font-size: 1.6rem;

  &__StateIcon {
    min-width: 3.2rem;
    height: 3.2rem;
    svg {
      stroke: $primaryColor;
    }

    &--Success,
    &--Failure {
      stroke-width: 0.3rem;
      padding: 0.3rem;
      border-radius: $borderRadius;
    }

    &--Success {
      background-color: $tintColor1;
    }

    &--Failure {
      background-color: $warningColor2;
      stroke: $warningColor6 !important;
      stroke-width: 0.2rem;
    }
  }

  &__Header {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 3rem 4rem 1rem 4rem;
    span {
      position: absolute;
    }
  }

  &__Message {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    height: 2rem;
    button {
      display: block;
      border: none;
      background: none;
      text-decoration: underline;
      color: $primaryColor;
      cursor: pointer;
    }

    &--Ok {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
      height: auto;
      padding: 1rem 4rem 3rem 4rem;
    }
  }

  &__CountdownLine {
    height: 0.6rem;
    background-color: $primaryColor;
    width: 100%;
    display: block;
    align-self: flex-start;
    transition: all 0.3s;
  }
}
