@use "../../../../sass-styles/variables" as *;

.facilitySection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 4rem;
  transition: all 0.3s;

  h4 {
    font-size: 1.6rem;
    grid-column: 1 / -1;
    margin-bottom: -0.5rem;
  }
}
