@use "../../../../sass-styles/variables" as *;

.searchBar {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  align-items: center;
  justify-content: space-between;
  border: $border;
  border-radius: 50rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  cursor: pointer;
  // transition: all 0.1s;
  //animation: inactiveBarCollapse 0.3s alternate backwards;
  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: $boxShadow;
  }

  button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__Btn {
    width: 3.2rem;
    height: 3.2rem;
    background-color: $primaryColor;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 1.5rem;

    svg {
      display: block;
      stroke: #fff;
      min-width: 100%;
      height: 100%;
    }
  }

  &__Place,
  &__Time {
    padding: 0 2rem;
    border-right: $border;

    button {
      font-weight: 500;
    }
  }

  &__Guests {
    padding-left: 2rem;

    button {
      color: $grayColorFaint3;
    }
  }
}

@keyframes inactiveBarCollapse {
  0% {
    opacity: 0.2;
    transform: scale(1.2);
  }

  4% {
    transform: scale(1.4);
    opacity: 0;
  }

  50% {
    transform: scale(1.6);
    opacity: 0;
  }

  75% {
    opacity: 0;
    transform: scale(1.6);
  }

  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
