@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

@import "./sass-styles/variables";

//Global style reset
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//Montserrat as primary font
body {
  font-family: "Montserrat", sans-serif;
  color: $grayColorMain;
}

html {
  font-size: 62.5%;

  @media only screen and (min-width: 100em) {
    font-size: 75%;
  }

  //smaller than 1200
  @media only screen and (max-width: 75em) {
    font-size: 56.25%;
  }

  //smaller than 1024
  @media only screen and (max-width: 64em) {
    font-size: 50%;
  }

  //smaller than 944
  @media only screen and (max-width: 59em) {
    //font-size: 43.75%;
  }

  //smaller than 768 - small tablets
  @media only screen and (max-width: 48em) {
    //font-size: 37.5%;
  }

  //smaller than 544 - phones
}

button,
select,
input,
textarea,
a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

input {
  caret-color: $primaryColor;
}

a:visited,
a:active {
  // color: currentColor !important;
}

//Customize Ant Range Picker

.ant-picker {
  // height: 100% !important;
  align-self: stretch;
}

.ant-picker-clear {
  inset-inline-end: 0 !important;
  background: none !important;
}

.ant-picker-range-wrapper {
  margin-top: 1rem;
}

.ant-picker-active-bar {
  display: none !important;
}

.ant-picker-focused {
  box-shadow: none;
}

.ant-picker-dropdown {
  //position: static !important;
  bottom: 0 !important;
}

.ant-picker-suffix {
  display: none !important;
}

.ant-picker-cell-inner,
.ant-picker-content {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.6rem;
}

.ant-picker-input {
  margin: 0 auto;
  height: 100% !important;

  input {
    font-size: 1.6rem !important;
    text-align: center;
    cursor: pointer !important;
  }
}

//Custom Leaflet Marker

.customLeafletMarker {
  width: 3.2rem !important;
  height: 3.2rem !important;
}

//Customize Ant Slider

.ant-tooltip {
  z-index: 1000;
  text-align: center;
  // transform: translateX(-0.5rem);
}

.ant-tooltip-inner {
  text-align: center !important;
  font-family: "Montserrat", sans-serif;
}

.ant-slider {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ant-slider-handle {
  transform: translateY(-50%) !important;

  &::after {
    width: 2rem !important;
    height: 2rem !important;
    inset-inline-start: -1rem !important;
    inset-block-start: -0.1rem !important;
    cursor: grab !important;

    &:hover {
      inset-inline-start: 0 !important;
      inset-inline-end: 0 !important;
    }
  }
}

.ant-slider-rail {
  height: 0.6rem !important;
}

.ant-slider-track {
  height: 0.7rem !important;
}

// TEST .modal {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   border: 0.1rem solid black;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .modal > * {
//   position: static !important;
// }

// .popup {
// }

// /* .popup > * {
//   position: static !important;
// } */

// .ant-picker-dropdown {
//   animation: none !important;
//   position: static !important;
//   transform: scale(1);
//   opacity: 1;
// }
