@use "../../../../sass-styles/variables" as *;

.roomType {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-rows: 3fr 0.7fr 0.5fr;
  font-size: 1.6rem;
  border-radius: $borderRadius;
  overflow: hidden;
  padding-bottom: 1.5rem;
  position: relative;
  border: $border;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 0.3rem $grayColorFaint6;
  }

  &__Checkbox {
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    background-color: #fff;
    border-radius: $borderRadius;
    top: 2rem;
    right: 2rem;
    padding: 0.4rem;
    box-shadow: inset 0 0 0 0.2rem $primaryColor;

    svg {
      stroke: #fff;
    }
  }

  &__Selected &__Checkbox {
    background-color: $primaryColor;
  }

  &__Info,
  &__Sleeps,
  &__Price {
    padding: 0 1.5rem;
  }

  &__Img {
    width: 100%;
    height: 24rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__Info {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h3 {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  &__Sleeps {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;

    &__Icon {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      svg {
        width: 1.6rem;
        height: 1.6rem;
        fill: $grayColorFaint1;
      }
    }
  }

  &__Price {
    display: grid;
    grid-template-columns: 3.5fr 2fr;
    align-items: center;
    align-self: flex-end;

    &__Price {
      font-size: 1.6rem;
    }
  }

  &__Selected {
    box-shadow: 0 0 0 0.3rem $secondaryColorYellowPrimary;

    &:hover {
      box-shadow: 0 0 0 0.3rem $secondaryColorYellowPrimary;
    }
  }

  &__HiddenQuantity {
    opacity: 0;
    visibility: hidden;
  }
}
