@use "../../../../sass-styles/variables" as *;

.roomType {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-rows: 3fr 1fr 0.5fr;

  &__Img {
    border-radius: $borderRadius;
    width: 100%;
    height: 16rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__Info {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  &__Price {
    display: grid;
    grid-template-columns: 3.5fr 2fr;
    align-items: center;

    &__Price {
      font-size: 1.6rem;
    }
  }
}

.typeQuantity {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
  place-items: center;
  // justify-items: center;
  &__Btn {
    border: $border;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    padding: 0.4rem;
    cursor: pointer;

    &:hover {
      border: 0.1rem solid $grayColorFaint1;
    }
  }

  &__Quantity {
    font-size: 1.6rem;
  }
}
