@use "../../../sass-styles/variables" as *;

.searchBar {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: auto;
  margin: 2rem 0;
  align-items: center;
  justify-content: space-between;
  border-radius: 50rem;
  border: $border;
  background-color: $grayColorFaint6;
  transition: all 0.4s;

  &__Collapse {
    position: absolute;
    margin: 0;
    border: none;
    visibility: hidden;
    animation: activeBarCollapse 0.4s forwards;
  }

  &__Active {
    background-color: #fff;
    border-radius: 50rem;
    box-shadow: 0 0 0 0.3rem #fff, 0 0 1rem 0.8rem rgba(0, 0, 0, 0.1);
  }

  &__Place,
  &__Time,
  &__Guests {
    padding: 1rem 3rem;
    position: relative;
  }

  &__Time {
    height: 100%;

    * {
      font-size: 1.6rem !important;
    }
  }

  &__Place,
  &__Time {
  }

  .searchBar__Btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primaryColor;
    align-self: stretch;
    border-radius: 50rem;
    width: 14rem;
    padding: 0 1.5rem;
    color: #fff;
    cursor: pointer;

    svg {
      height: 3.2rem;
      width: 3.2rem;
      stroke: #fff;
    }

    &:hover {
      background-color: $shadeColor1;
    }
  }
}

@keyframes activeBarCollapse {
  0% {
    opacity: 0.4;
    ransform: scale(0.7);
  }

  20% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 0;
    transform: scale(0.3);
  }

  70% {
    opacity: 0;
    transform: scale(0.2);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}
