@use "../../../sass-styles/variables" as *;

.bookingDetail {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
  border: $border;
  border-radius: $borderRadius;

  &__Head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_Price {
      display: flex;
      align-items: flex-end;
      gap: 0.6rem;

      strong {
        font-size: 2.2rem;
      }
    }

    &_Review {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      svg {
        fill: $grayColorMain;
        width: 2rem;
      }
    }
  }

  &__Info {
    border: $border;
    border-radius: $borderRadius;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.01rem;
      background-color: $grayColorFaint6;
      top: 50%;
      transform: translateY(-200%);
    }

    &_DatePicker {
      padding: 1.5rem 2rem;
      border-radius: $borderRadius;

      &_Active {
        box-shadow: 0 0 0 0.4rem $grayColorFaint6;
      }
    }

    &_GuestNum {
      display: block;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      background: none;
      padding: 1.5rem 2rem;
      cursor: pointer;
      position: relative;
      border-radius: $borderRadius;

      &_Active {
        box-shadow: 0 0 0 0.4rem $grayColorFaint6;
      }

      &_DropdownBtn {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__Btn {
    border: none;
    background-color: $primaryColor;
    padding: 1rem 2rem;
    border-radius: $borderRadius;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      background-color: $shadeColor1;
    }
  }

  &__Fee {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
  }
}
