@use "../../../sass-styles/variables" as *;

.bookingDetail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: $border;
  border-radius: $borderRadius;
  padding: 2rem;
  position: sticky;
  top: 2rem;
}
