@use "../../../sass-styles/variables" as *;

.passwordSetting {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__Input {
    width: 60%;

    input[type="password"] {
      font-size: 2rem;
    }
  }
}
