@use "../../../../../sass-styles/variables" as *;

.notFound {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 2rem;
  padding: 1rem 2rem;

  &:hover {
    background-color: $tintColor1;
    span {
      color: $tintColor4;
    }
  }

  svg {
    width: 3.2rem;
    height: 3.2rem;
    stroke-width: 0.15rem;
    padding: 0.5rem;
    stroke: #fff;
    background-color: $tintColor4;
    border-radius: 50%;
  }
}
