@use "../../../../sass-styles/variables" as *;

.skeleton {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 70% 1fr;
  row-gap: 1rem;

  &__Image,
  &__Info * {
    background-color: $grayColorFaint6;
    border-radius: $borderRadius;
  }

  &__Image {
    width: 100%;
    height: 100%;
  }

  &__Info {
    display: grid;
    gap: 0.5rem 2rem;
    align-self: flex-start;
    grid-template-columns: 7fr 3fr;

    &__Name,
    &__Review,
    &__Location,
    &__Price {
      height: 1.6rem;
    }

    &__Name {
      grid-column: 1;
    }

    &__Review {
      grid-column: 2;
    }

    &__Location,
    &__Price {
      grid-column: 1 / -1;
      width: 50%;
    }
  }

  &__Image,
  &__Info > * {
    animation: skeletonFlashing 1s infinite alternate;
  }
}

@keyframes skeletonFlashing {
  0% {
    background-color: $grayColorFaint5;
  }

  100% {
    background-color: $grayColorFaint6;
  }
}
